<span class="book-title">{{#link-to "book.detail" model.id}}{{model.title}}{{/link-to}}</span> by {{#link-to "author.detail" model.author.id}}{{model.author.first}} {{model.author.last}}{{/link-to}} <em class="book-isbn">{{model.isbn}}</em> 
